<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hololibs.easyuae">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PayParkActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.SendCreditActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.GroupActivity"
            android:label="@string/chooseGroup_txt"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">

        </activity>
        <activity
            android:name=".activities.HotlineDetailsActivity"
            android:label="@string/title_activity_hotline_details"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HotlineDetailsActivity">

        </activity>
    </application>

</manifest>
